@model IEnumerable< Esports_Management.Models.OrganizerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/NewIndex.css" />
</head>
<div class="My-Index">
    <div class="main-search"><input type="text" placeholder="Search ....."><div class="fa-solid fa-magnifying-glass" id="search-logo"></div></div>

    <div class="head-container">
        <h1 id="heading">College</h1>
        <p style="color:green;font-size:1.2rem" id="msg">
            @TempData["msg"]
        </p>
        <div class="Add"><a asp-action="Create">Add College</a></div>
    </div>
    <hr />
    <div class="My-table">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CId">Edit</a> |
               @* <a asp-action="Details" asp-route-id="@item.CId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.CId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div></div>